<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About Page</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <div class="menu">
          <nav><ul><li><a href="/home">Home</a></li><li><a href="/about">About</a></li><li><a href="/works">Works</a></li><li><a href="/photo-gallery">Photo Gallery</a></li></ul></nav>
    </div>  
    <div class="container">
        <div class="content">
            <h2>Vincent van Gogh</h2>
            <p>(30 March 1853 – 29 July 1890) was a Dutch Post-Impressionist painter who posthumously became one of the most famous and influential figures in Western art history. In a decade, he created about 2,100 artworks, including around 860 oil paintings, most of which date from the last two years of his life. They include landscapes, still lifes, portraits, and self-portraits, and are characterised by bold colours and dramatic, impulsive and expressive brushwork that contributed to the foundations of modern art. Not commercially successful, he struggled with severe depression and poverty, eventually leading to suicide at the age of 37.</p>
        </div>
    </div>
        <footer>
        </footer>        
    </div>
  </body>
</html>