<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Works Page</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <div class="menu">
          <nav><ul><li><a href="/home">Home</a></li><li><a href="/about">About</a></li><li><a href="/works">Works</a></li><li><a href="/photo-gallery">Photo Gallery</a></li></ul></nav>
    </div>  

    <div class="container">
        <div class="content">
            <p>van Gogh made some wild stuff!</p>
            <ul>
                <li>Still Life with Cabbage and Clogs</li>
                <li>Dunes</li>
                <li>Man Stooping with Stick or Spade</li>
                <li>Peasant Burning Weeds</li>
            </ul>
        </div>
    </div>
    <div>
        <footer>
        </footer>        
    </div>
  </body>
</html>